.wrapper {
    position: absolute;
    right: 0;
}

.trash-icon {
    padding: 6px 8px;
    background-color: #ea6548;
    border-radius: 9999px;
    color: rgb(255, 255, 255);
    transform: translateY(10%);

    &:hover {
        background-color: #cf4729;
        cursor: pointer;
    }
}