.wrapper {
    background-color: #1c0532;
    display: flex;
    justify-content: center;
}

.inner {
    width: 60%;
    height: 100vh;
    background-color: #250642;
    text-align: center;
    padding: 0 40px;
}

.title {
    font-size: 5rem;
}